/*!
  Feuille de style du site
*/

body {
    width: 100%;
    margin:0;
    /*background-color: red;
      /*Supprimer les marges par défault des navigateurs */
}


.contenu {

   width: 80%;
   margin-right:auto;
   margin-left:auto;
   background-color: #cbackground-color: #c1e2cc;1e2cc;
}
/*
    Style des boutons
*/


.buttonVaisselle {
display: inline-block;
border-radius: 10px;
background-color: #f4511e;
border: none;
color: #FFFFFF;
text-align: center;
font-size: 28px;
padding: 20px;
width: 200px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
}

.buttonVaisselle span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.buttonVaisselle span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.buttonVaisselle:hover span {
padding-right: 25px;
}

.buttonVaisselle:hover span:after {
opacity: 1;
right: 0;
}

.divButton{
  margin-left: auto;
  margin-right: auto;
  display: table;
  margin-top: 8vh; /* poussé de la moitié de hauteur de viewport */
  transform: translateY(-8%);


}


ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: orange;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}
ul.topnav li.center {float: center;}
@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}
/* footer
 */

footer
{
	bottom: :0; /* "Coller" le footer en bas de la page, attention toute la page doit être utilisée pour que sa fonctionne */
	width: 100%;
	background-color: #696969;
	height: 70px;
	text-align: center; /* Centre le texte */
	padding-top: 50px;
	color: white;
}

footer a
{
	text-decoration: none;
	color: #FFD700;
}


a{
color:green;
}

a:hover{
color: #FFD700;
}


img {
    width: 100%;
    height: auto;
}
