/*!
  Feuille de style du site
*/
html{
  height: 100%;
	margin: 0;
  padding: 0;

}
body {
    width: 100%;
    margin:0;
    display : table;
    position: absolute;
    background-color: #c1e2cc;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
      /*Supprimer les marges par défault des navigateurs */
}

h1{

     font-family: "Roboto", Helvetica, Arial, sans-serif;

 /* Pas de marge en bas pour coller le titre au paragraphe */
  padding: 3%;       /* Sinon le titre a aussi un léger espacement à gauche : on veut l'aligner */
                    /*   avec le paragraphe, qui n'a pas d'espacement. */
  color: white;                /* Classique : couleur... */
  font-size: : 20%; /* ... et police          */

}
.bouton
{
    color:#0000ff;
    font-size:24px;
    cursor:pointer;
}
.bouton:hover
{
    text-decoration:underline;
}
.texte
{
    border:1px solid #333333;
    background:#eeeeee;
    padding:1%;
    color:#333333;
}
.texte:hover
{
    border:1px solid #000000;
    background:#cccccc;
    color:#000000;
}

table {
   text-align: center;
    border-collapse: collapse;
    width: 100%;
    margin-right:auto;
    margin-left:auto;
}

td {
    text-align: center;

    padding: 8px;
}

th {
    text-align: center;
    background-color: #4CAF50;
    color: white;

    padding: 8px;
}


tr:nth-child(even){background-color: #f2f2f2; }

.contenu {

   width: 80%;
     text-align: center;
   margin-right:auto;
   margin-left:auto;

}
/*
    Style des boutons
*/

@media (max-width: 1000px) {
.btn-responsive {
  padding:2px 4px;
  font-size:80%;
  line-height: 1;
  border-radius:3px;
  background-color: #f4511e;
}
}

@media (min-width: 769px) and (max-width: 992px) {
.btn-responsive {
  padding:4px 9px;
  font-size:90%;
  line-height: 1.2;
  background-color: #f4511e;
}
}


.buttonVaisselle {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 70%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-size:100%;
}

.buttonVaisselle span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonVaisselle span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonVaisselle:hover span {
  padding-right: 25px;
}

.buttonVaisselle:hover span:after {
  opacity: 1;
  right: 0;
}

.divButton{
  margin-left: auto;
  margin-right: auto;
  display: table;
  margin-top: 8vh; /* poussé de la moitié de hauteur de viewport */
  transform: translateY(-8%);


}


ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: orange;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

ul.topnav li a:hover:not(.active) {background-color: #b1edb9;}

ul.topnav li a.active {background-color: #f2efc9;}

ul.topnav li.right {float: right;}
ul.topnav li.center {float: center;}
@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}
/* footer
 */

footer
{
	bottom: :0; /* "Coller" le footer en bas de la page, attention toute la page doit être utilisée pour que sa fonctionne */
	width: 100%;
	background-color: #696969;
   position: absolute;
   left: 0;
   right:0;
	text-align: center; /* Centre le texte */
	padding-top: 50px;
	color: white;
  display : table-row;
	height: 100px;
}

footer a
{
	text-decoration: none;
	color: #FFD700;
}
* {-moz-box-sizing: border-box; box-sizing: border-box;}

a{
color:green;
}

a:hover{
color: #FFD700;
}


img {
    width: 100%;
    height: auto;
}
